@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$whiteSmoke: #f5f5f5;
$blackVari: #292929;
$greenBtn: #286d5f;
$greyBckg: #a1a1a1;
$roseCol: #f4ede4;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  width: 100%;
}

header {
  z-index: 100;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 70px;
  padding: 10px 50px;
  background-color: $whiteSmoke;
  .nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .menu {
      div {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
      }
    }
    img {
      height: 50px;
    }
    .nav-items {
      width: 500px;
      ul {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        .item {
          width: 30%;
          list-style: none;
          text-align: center;
          a {
            text-decoration: none;
            color: $blackVari;
          }
        }
      }
    }
  }
}
.checked {
  background-color: $greyBckg !important;
  color: $whiteSmoke;
}
.btn {
  background-color: $greenBtn;
  color: $whiteSmoke;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
}
.container {
  margin-top: 150px;
  text-align: center;
  h1 {
    margin-bottom: 50px;
  }
  h4 {
    margin-bottom: 40px;
  }
}
.box-part {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  .check-div {
    display: inline-block;
    background-color: $whiteSmoke;
    border-radius: 50px;
    margin: 10px;
    padding-left: 10px;
    text-align: left;
    padding: 7px;
    width: 100%;
    label {
      margin-left: 10px;
      display: inline;
      margin-bottom: 0;
    }
  }
}
.btn-div {
  margin-top: 50px;
}
.main-image {
  width: 100%;
  img {
    width: 100%;
  }
}
.part {
  position: relative;
  height: 25%;
}
.right {
  div.grid-container {
    right: 100px;
  }
  .content {
    text-align: end;
  }
  img {
    left: 70px;
  }
}
.left {
  div.grid-container {
    left: 100px;
  }
  .content {
    text-align: start;
  }
  img {
    right: 0;
  }
}
// grid Features
.features {
  position: relative;
  height: 2500px;
  display: block;
  padding: 50px;
  background-color: $roseCol;
  .img {
    width: 750px;
    position: absolute;
    top: -250px;
    z-index: 1;
  }
  .content {
    margin-bottom: 50px;
    position: relative;
    font-weight: bold;
    z-index: 100;
  }
  .grid-container {
    position: absolute;
    width: 50%;
    height: 250px;
    z-index: 20;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 25px;
    grid-template-areas: "p1 p2 p3x4";
    .gridItem {
      background-color: $whiteSmoke;
    }
  }
  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3x4 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px 0px;
    grid-template-areas:
      "p3 p3 p3"
      "p4 p4 p4";
    grid-area: p3x4;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  .gridItem {
    i {
      font-size: xxx-large;
      position: relative;
      margin-top: 15px;
      left: -70px;
      border: 3px solid black;
      padding: 10px;
      border-radius: 15px;
    }
    div.text {
      position: relative;
      top: 50px;
      text-align: start;
      padding: 10px;
    }
    div.arrow {
      position: relative;
      cursor: pointer;
      right: 0;
      bottom: 0;
      text-align: right;
      font-size: xxx-large;
      margin-right: 10px;
    }
  }
  .p3.gridItem,
  .p4.gridItem {
    i {
      font-size: 30px !important;
    }
    .gridContent {
      height: 70px;
      .text {
        top: 10px;
        .arrow {
          position: absolute;
          cursor: pointer;
        }
      }
    }
  }
}

//MEDIA QUERIES
@media (min-width: 1281px) {
  .menu {
    display: none;
  }
}
//TABLET , IPAD...
@media (min-width: 1025px) and (max-width: 1280px) {
  .nav-items {
    display: none;
  }
  .menu {
    display: block;
  }
  .box-part {
    grid-template-columns: auto auto auto;
  }
}
//LANDSCAPE
@media (min-width: 768px) and (max-width: 1024px) {
  .nav-items {
    display: none;
  }
  .menu {
    display: block;
  }
  .box-part {
    grid-template-columns: auto auto auto;
  }
}
//TABLET
@media (min-width: 481px) and (max-width: 767px) {
  .nav-items {
    display: none;
  }
  .menu {
    display: block;
  }
  .box-part {
    grid-template-columns: auto auto;
  }
}
//MOBILE
@media (min-width: 320px) and (max-width: 480px) {
  header {
    padding: 10px;
    .nav-items {
      display: none;
    }
  }
  .right div.grid-container {
    right: 70px;
  }
  .menu {
    display: block;
  }
  .box-part {
    grid-template-columns: auto;
    .check-div {
      margin-left: 10%;
      display: block;
      width: 80%;
    }
  }
  .features {
    display: flex;
    flex-direction: column;
    height: 5000px;
    .part {
      height: 50%;
    }
    .img {
      top: -15px;
      width: 75%;
      left: 45px;
    }
    .gridItem {
      width: 150% !important;
      position: relative;
      left: -60px;
      i {
        left: 0;
      }
    }
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 25px 0px;
      grid-template-areas:
        "p1"
        "p2"
        "p3x4";
    }
  }
}
